/cmake-build-debug/
/cmake-build-release/
/CMakeFiles/
/binding_python_version/
/venv/
/tests/test_models/
/Vivid_py.egg-info/
/temp-debug changes/
/dist/
/build/
/_skbuild/
/src/vivid3d.egg-info/
vivid
