/cmake-build-debug
/cmake-build-release
/CMakeFiles
/temp
/binding_python_version
/venv
/tests/testModels
/Vivid_py.egg-info
/Tests/test_wrapper_animation_win.fbx
/Tests/test_wrapper_win.mtl
/Tests/test_wrapper_win.obj
/Tests/test_wrapper_win_texture.mtl
/Tests/test_wrapper_win_texture.obj
/Tests/test_wrapper_win_texture_texture.png
/valgrind.xml
/valgrind_EladNew_20210421.xml
