recursive-include pybind11 *
graft pybind11
graft cmake
recursive-include lib *
recursive-include src *
recursive-exclude _skbuild *
recursive-exclude lib/assimp/.git *
recursive-exclude lib/assimp/.github *
recursive-exclude lib/assimp/test *
include *.md *.png CMakeLists.txt
