recursive-include vivid/pybind11 *
graft vivid/pybind11
recursive-include vivid/lib *
recursive-include vivid/src *
recursive-exclude vivid/lib/assimp/.git *
recursive-exclude vivid/lib/assimp/.github *
recursive-exclude vivid/lib/assimp/test *
include *.md *.png CMakeLists.txt
